BasedOnStyle: Chromium
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Empty
PointerAlignment: Right
AlignArrayOfStructures: Right
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
ObjCBlockIndentWidth: 4
SortIncludes: Never
ReflowComments: false
ColumnLimit: 100
