[submodule "libs/bgfx"]
	path = libs/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "libs/bimg"]
	path = libs/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "libs/bx"]
	path = libs/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
